@import 'src/variables.scss';

.home-page {
  background-image: linear-gradient(
    #2c2055,
    #a976ba,
    #f55da5,
    #fe8aba,
    #ffd9e8
  );
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  justify-content: space-between;
  min-height: 100vh;

  .hero,
  .event-info {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .heading-img {
    max-width: 100%;
    position: absolute;
    top: 6rem;
    z-index: 10;
  }

  .hero {
    margin: 8rem 0rem 0rem;

    &-mascot,
    &-mascot-desktop {
      animation: moveUpDown 2s ease-in-out infinite;
    }

    &-mascot {
      max-width: 100%;
    }

    &-mascot-desktop {
      display: none;
    }

    &-title {
      color: white;
      font-family: $highlight-font-family;
      font-size: $font-xl;
      margin-top: -1rem;
    }

    &-text {
      color: white;
      text-align: center;
      width: 70%;
      margin: 0.5rem;
    }
  }

  .event-info {
    margin-top: 2rem;

    &-next-event {
      color: white;
      font-family: $font-family;
      font-weight: $text-weight-regular;
      text-transform: capitalize;
    }

    .primary-button {
      margin: 3rem 0rem;
    }

    .accent-card {
      margin: 0.5rem 0;
    }
  }
}

.landing-primary-button {
  background-color: $primary-color;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 1rem 2rem;

  &:active,
  &:focus,
  &:hover {
    animation: pulse 1s ease-in-out infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the distance as desired */
  }
}

@media (min-width: 768px) {
  .heading-img {
    left: 50%;
    max-width: 500px;
    top: 0.625rem;
    transform: translateX(-50%);
  }

  .main-content {
    align-items: center;
    display: flex;
    margin: 16rem 0rem 0rem;
    width: 100%;

    .hero,
    .event-info {
      // to make each section take up the same amount of space
      flex: 1;
    }

    .hero {
      margin: 0;

      &-mascot {
        display: none;
      }

      &-mascot-desktop {
        display: block;
        max-width: 500px;
      }

      &-title,
      &-text {
        color: $primary-color;
        margin: 0;
      }

      &-title {
        font-size: $font-xxl;
      }

      &-text {
        font-size: $font-large;
        width: 60%;
      }
    }

    .event-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-evenly;
      height: 100%;
      margin: 0;

      &-next-event {
        margin: 0;
        font-size: $font-xxl;
      }

      .primary-button {
        font-size: $font-large;
      }

      .accent-card {
        font-size: $font-large;
        margin: 0.5rem 0;
        max-width: 380px;
        width: 60%;
      }
    }
  }
}
