.main {
  background-image: linear-gradient(135deg, #F2A9C3 0%, #B4BDE8 51%, #F2A9C3 100%);
  background-size: 200% auto;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: 0.5s;
}

.main:hover, .main:active {
  background-position: right center;
}
