@import 'src/variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
}

.btn {
  // to prevent daisyui from showing uppercase bold text in buttons
  text-transform: none;
  font-weight: 400;
}
