@import 'src/fonts/index.scss';

// Fonts
$font-family: 'Londrina Solid', sans-serif;
$highlight-font-family: 'Junegull', sans-serif;
$text-weight: 300;
$text-weight-regular: 400;
$font-xl: 2rem;
$font-xxl: 3rem;

// Colors
$primary-color: #58316C;
$accent-color: #F6EABD;